<aside id="sidebar" class="open">
  <div id="sidebar-left">
    <a id="sidebar-avatar" href="{{ "/" | prepend: site.baseurl }}">
      <img id="sidebar-avatar-img" alt="{{ site.tittle }}" src="{{ site.avatar | prepend: site.baseurl }}"/>
    </a>

    <div id="sidebar-social">
      <a href="{{ site.rss_url | prepend: site.baseurl }}" class="sidebar-social-icon feed"></a>
      <a href="mailto:{{ site.email }}" class="sidebar-social-icon email"></a>
      {% include social.html %}
    </div>

    <ul id="sidebar-tags">
      <li class="sidebar-tag active" data-filter="recent">Line</li>
      {% if site.filter == 'category' %}
        {% for category in site.categories %}
          <li class="sidebar-tag" data-filter="{{ category | first }}">{{ category | first }}</li>
        {% endfor %}
      {% elsif site.filter == 'tag' %}
        {% for tag in site.tags %}
          <li class="sidebar-tag" data-filter="{{ tag | first }}">{{ tag | first }}</li>
        {% endfor %}
      {% endif %}
      <div style="margin-top:10px; text-align: center; color: #a1a1a1;">
        <span id="busuanzi_container_page_pv">
          访<span id="busuanzi_value_page_pv"></span>
        </span>
      </div>
    </ul>
    <!-- <span id="busuanzi_container_site_uv"> 
      本站访客数<span id="busuanzi_value_site_uv"></span>人次
    </span> -->
  </div>
  <div id="sidebar-right">
    <!-- music beg -->
    <div>
      <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=360 height=86 src="//music.163.com/outchain/player?type=2&id=28306672&auto=0&height=66"></iframe>
    </div>
    <!-- music end -->
    <div id="search-box">
      <input id="search-input" type="text" placeholder=" Search..." />
    </div>

    <nav id="toc">
      {% if site.filter == 'category' %}
        {% for post in site.posts %}
          <a class="toc-link" data-tags="{{ post.categories | join: ' ' }}" href="{{ post.url }}">
            {{ post.title }}
          </a>
        {% endfor %}
      {% elsif site.filter == 'tag' %}
        {% for post in site.posts %}
          <a class="toc-link" data-tags="{{ post.tags | join: ' ' }}" href="{{ post.url }}">
            {{ post.title }}
          </a>
        {% endfor %}
      {% endif %}
    </nav>
  </div>
</aside>



